body {
    background-color: FF8080;
    font-family: arial, helvetica, sans-serif;
    letter-spacing: normal;
    float: left;
     }
     
h1 {
    text-align: center;
    color: green;
     }
     
     
    
     