body {
     background: linear-gradient(to bottom, #ffccff 0%, #ccccff 100%);
    font-family: arial, helvetica, sans-serif;
    letter-spacing: normal;
     }
     /* start text details*/
h1 {
    text-align: center;
    color: White;
    text-decoration: underline;
    font-family: Courier, monospace;
     }
h2 {
    text-align: center;
    color: Navy ;
}
     
h3 {
    text-align: left;
    color: Navy ;
}
    /* end text details */
    /* start list details */

ul {
    list-style-type: circle;
    
}

    /* end list details */
    /* start section details */
#ABC {
    background-color: Khaki ;
}
#ABCD {
    background-color: Khaki ;
}
    /* end section details */
p {
    text-align: left;
}
.firstp {
    text-align: center;
}
.secondp {
    text-align: left;
}
#link {
    display:block; 
    text-align: center;
    /* 2018-11-07 ebb: We got this to work to center the link by changing its display property.
     * By default an <a> element is meant to be inline, to "go with the flow" of the text.
     * We changed it to display:block to make it like a BLOCK on the page, which then allowed us 
     * to use text-align to center it.   */
}
.thirdp {
    text-align: left;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
/* creating a button for my link */
div.resumelink {
  color: #FFF;
  background-color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 1px solid #5D6063;
  border-radius: 5px;
  width: 150px;
}
/* adding image details */
img {
    padding: 40px;
    border-radius: 30%;
    width: 93%;
    height: auto;
}    
div.allimages {
    display: flex;
    justify-content: space-between;
    align-text: center;
    height: 375px;
    width: 350px;
}
/* made a flex box nov 15, 2018 */
div.photoshoppics {
    display: flex;
    justify-content: space-between;
    height: 375px;
    width: 350px;
}
/* created a flexbox with my photoshopped pictures */
div.svggraph {
    display: flex;
    justify-content: center;
    height: 750px;
    width: 1024px;
}
/* created a toggle swtich 12/4/2018 */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  align: center;
}
.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}


.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

#toggle {
    text-align: left;
    
}


   /* most recent update by EKB on December 4, 2018 */
     
    
     