body {
     background: linear-gradient(to bottom, #ffccff 0%, #ccccff 100%);
    font-family: arial, helvetica, sans-serif;
    letter-spacing: normal;
     }
     /* start text details*/
h1 {
    text-align: center;
    color: White;
    text-decoration: underline;
    font-family: Courier, monospace;
     }
h2 {
    text-align: center;
    color: Navy ;
}
     
h3 {
    text-align: left;
    color: Navy ;
}
    /* end text details */
    /* start list details */

ul {
    list-style-type: circle;
    
}

    /* end list details */
    /* start section details */
#ABC {
    background-color: Khaki ;
}
#ABCD {
    background-color: Khaki ;
}
    /* end section details */
p {
    text-align: left;
}
.firstp {
    text-align: center;
}
.secondp {
    text-align: left;
}
#link {
    display:block; 
    text-align: center;
    /* 2018-11-07 ebb: We got this to work to center the link by changing its display property.
     * By default an <a> element is meant to be inline, to "go with the flow" of the text.
     * We changed it to display:block to make it like a BLOCK on the page, which then allowed us 
     * to use text-align to center it.   */
}
.thirdp {
    text-align: left;
}
.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: red;
    color: white;
    text-align: center;
}
/* creating a button for my link */
div {
  color: #FFF;
  background-color: white;
  font-weight: bold;
  padding: 10px;
  text-align: center;
  border: 1px solid #5D6063;
  border-radius: 5px;
  width: 150px;
}
/* footer element has been added */
.fourthp {
     padding: 40px;
     border-bottom: 7px solid #5D6063;
     text-align: center;
     color: black;
     background-color: white;
}
/* adding image details */
img {
    padding: 40px;
    border-radius: 30%;
    width: 93%;
    height: auto;
}    
   /* most recent update by EKB on November 11, 2018 */
     
    
     