body {
    background-color: PaleVioletRed ;
    font-family: arial, helvetica, sans-serif;
    letter-spacing: normal;
     }
     /* start text details*/
h1 {
    text-align: center;
    color: White;
    text-decoration: underline;
    font-family: Courier, monospace;
     }
h2 {
    text-align: center;
    color: Navy ;
}
     
h3 {
    text-align: left;
    color: Navy ;
    text-decoration: underline;
}
    /* end text details */
    /* start list details */

ul.a {
    list-style-type: circle;
    
}

ul.b {
    list-style-type: square;
}

ul.c {
    list-style-type: circle;
}
    /* end list details */
    /* start section details */
#ABC {
    background-color: Khaki ;
}
#ABCD {
    background-color: Khaki ;
}
    /* end section details */
    
   /* most recent update by EKB on November 4, 2018 */
     
    
     